* {
  margin: 0px;
  padding: 0px;
}
.main-wrapper {
  margin-top: 300px;
}

.input-btn {
  padding: 20px;
}
.button {
  background-color: #004ba8;
  color: white;
}
.button:hover {
  color: white;
}

/* ERROR PAGE */
#error-wrapper {
  width: 100vw;
  height: 100vh;
  background: #004ba8;
  text-align: center !important;
}
#error-status {
  color: #fff;
  font-size: 22em;
  font-weight: bold;
  background: transparent;
  text-shadow: 8px 8px 2px #000000;
}
#error-msg {
  color: #fff;
  font-weight: 500;
  font-family: sans-serif;
}
.error-links {
  color: #479aff;
  text-decoration: none !important;
}
.error-links:hover {
  color: #85bcff;
}
