* {
  margin: 0px;
  padding: 0px;
}
form {
  margin-top: 5vh !important;
  margin-left: 3vw !important;
  margin-right: 3vw !important;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem !important;
}
input {
  border: 1px solid #004ba8 !important;
}
label {
  color: #004ba8 !important;
}
select {
  border: 1px solid #004ba8 !important;
}
.main-head {
  margin-top: 8vh !important;
  font-size: 3.2rem;
  font-weight: 900;
  color: #004ba8;
}
.complaint-field {
  color: #ff0808;
}

.form-btn {
  background-color: #004ba8 !important;
  color: #fff !important;
}
.sec-form {
  margin-bottom: 20vh !important;
}
.navbar {
  background-color: #004ba8;
  height: 80px;
}
.navbar ul li a {
  font-size: 20px;
}

.add-number-btn {
  background-color: rgb(221, 0, 0) !important;
  color: #fff !important;
  width: 170px;
}
.form-text {
  font-size: 16px;
  font-weight: 700;
  padding: 11px;
  height: 43px;
  border: 1px;
  border-color: #004ba8;
  border-style: solid;
  background-color: rgb(197, 198, 255);
  border-radius: 4px;
}
.update-btn {
  background-color: #ad0000 !important;
  color: #fff !important;
}
.modal-form {
  margin: 0px !important;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem !important;
}

.sub-head {
  color: #004ba8;
}
