* {
  margin: 0px;
  padding: 0px;
}
.main-dash {
  padding: 0px;
  margin: 0px;
  display: flex;
}
.navbar {
  background-color: #004ba8;
}

.side-bar {
  width: 400px;
  height: 100vh;
  background-color: #343a40;
}
.main-body {
  width: 100%;
}
.insert-new {
  background-color: #004ba8;
  color: white;
}
.insert-new:hover {
  color: white;
}
/* Update complaint styles */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000 !important;
}

.update-button {
  background-color: #004ba8 !important;
  color: #fff !important;
  border: 2px solid #004ba8 !important;
}
.update-button:hover {
  background-color: transparent !important;
  color: #004ba8 !important;
}
