@font-face {
  font-family: nato-sans;
  src: url(../../dependencies/Noto_Sans/NotoSans-Bold.ttf);
  font-weight: bold;
}
* {
  margin: 0px;
  padding: 0px;
}
.theme-color {
  color: #004ba8 !important;
}
/* ADMIN DASHBOARD */
#dashboard-cards {
  padding: 4vh 1vw;
}
.btn-primary:hover {
  background: transparent !important;
  color: #004ba8;
}

/* ADMIN COMPLAINTS PAGE */
.not-found-alert {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
}

/* SHOW COMPLAINT */
.h1-complaint {
  font-family: nato-sans;
  font-size: 3rem !important;
  color: #004ba8;
}
.h2-complaint {
  font-family: nato-sans;
  font-size: 2.5rem !important;
  color: #004ba8;
}

.table-data {
  background-color: #004ba8;
}
