@font-face {
  font-family: nato-sans;
  src: url(../../dependencies/Noto_Sans/NotoSans-Bold.ttf);
  font-weight: bold;
}
* {
  margin: 0px;
  padding: 0px;
}
.theme-color {
  color: #004ba8 !important;
}
.nav-head {
  font-size: 3rem;
}
/* ADMIN DASHBOARD */
#dashboard-cards {
  padding: 4vh 1vw 3vh 1vw;
}
.recent-head {
  color: #004ba8;
  padding-left: 0.7vw;
  font-size: 2.6rem;
}
#dashboard-complaints {
  padding: 0 0.7vw;
}
.btn-primary:hover {
  background: transparent !important;
  color: #004ba8 !important;
}
.btn-primary:hover a {
  background: transparent !important;
  color: #004ba8 !important;
}
.chart-header {
  color: #004ba8 !important;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.two-charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* ADMIN COMPLAINTS PAGE */
.not-found-alert {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
}

/* SHOW COMPLAINT */
.h1-complaint {
  font-family: nato-sans;
  font-size: 3rem !important;
  color: #004ba8;
}
.h2-complaint {
  font-family: nato-sans;
  font-size: 2.5rem !important;
  color: #004ba8;
}
.info-button:hover {
  background: transparent !important;
  color: #004ba8 !important;
}
.pdf-button:hover {
  background: transparent !important;
}
.pdf-button:hover {
  color: #c50202 !important;
}
.danger-text {
  color: red !important;
}
.success-text {
  color: green !important;
}
/* NO INPUT BUTTONS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Category-complaints */
.category-dropdown-wrapper {
  height: 0;
}
.category-dropdown {
  display: none;
}
.category-dropdown__item {
  background: #fff;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  position: relative;
  z-index: 99999;
}
.showing-item {
  width: fit-content;
  height: 37.5px;
  padding-top: 1.1vh;
  padding-left: 1vw;
  padding-right: 2.9vw;
  border-radius: 4px;
  color: #c2c2c2;
  border: 1px solid #d6d6d6;
}
.show-category-dropdown {
  display: block;
}

#sub-complaint-type {
  height: 23vh;
  border-bottom: 1px solid #d6d6d6;
  overflow-y: scroll;
}

#sub-complaint-type::-webkit-scrollbar {
  width: 3px;
}

#sub-complaint-type::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#sub-complaint-type::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
