* {
  margin: 0px;
  padding: 0px;
}

/* ADMIN DASHBOARD */
#dashboard-cards {
  padding: 4vh 1vw;
}
.btn-primary:hover {
  background: transparent !important;
  color: #004ba8;
}

/* ADMIN COMPLAINTS PAGE */
